.section {
  padding-bottom: 60px;
  width: 100%;
  min-width: 480px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .main-logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.main-logo-web-header, .main-logo-web-footer {
  color: #2196F3;
}

.main-logo-studio-header {
  color: #000000;
}

.main-logo-studio-footer {
  color: #FFFFFF;
}

.modal-button,
.modal-form-button,
.contact-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-team-link, .social-list-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-team-link {
  background-color: #FFFFFF;
}

.social-list-footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-team-link:hover, .social-list-team-link:focus, .social-list-footer-link:hover, .social-list-footer-link:focus {
  background-color: #2196F3;
}

.social-list-footer-icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.social-list-team-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-team-link:hover .social-list-team-icon,
.social-list-team-link:focus .social-list-team-icon {
  fill: #FFFFFF;
}

.jobs-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .jobs-title,
  .team-title,
  .clients-title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms linear;
  z-index: 200;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 93px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
}

.close-button-icon {
  position: absolute;
  top: 50%;
  right: 5.5px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #000000;
  cursor: pointer;
}

.close-button-icon:hover, .close-button-icon:focus {
  fill: #2196F3;
  outline: none;
}

.close-button:focus {
  outline: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-lable {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
}

.modal-form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196F3;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  padding: 12px 16px;
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input:focus, .modal-form-message:focus {
  border: 1px solid #2196F3;
  cursor: pointer;
}

.modal-form-button {
  align-self: center;
}

.modal-form-checkbox {
  position: absolute;
}

.modal-form-policy-link {
  color: #2196F3;
  margin-left: 5px;
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form-policy-label {
    font-size: 14px;
    line-height: 1.714;
  }
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-policy-label::before {
  background-color: #2196F3;
  background-image: url(../img/modal-form/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #2196F3;
}

.header-section {
  position: relative;
  border: 1px solid #ECECEC;
  background: #FFFFFF;
  width: 100%;
  min-width: 480px;
}

@media screen and (min-width: 1200px) {
  .header-section {
    margin: 0 auto;
    max-width: 1600px;
  }
}

@media screen and (max-width: 767px) {
  .header-section {
    position: fixed;
    z-index: 100;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin-left: 276px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .icon-menu,
.menu-button:hover .icon-cross {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 395px;
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    padding-top: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
  }
}

.navigation {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .navigation {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-section .container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: center;
    margin-left: 84px;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.navigation-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 767px) {
  .navigation-list .current {
    color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.navigation-list-link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover::after {
  opacity: 1;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .address-list-item, .address-list-link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .address-list-item, .address-list-link {
    display: flex;
  }
}

.address-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .address-list-link {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .address-list-link {
    font-size: 14px;
    line-height: 1.143;
    align-self: center;
  }
}

.address-list-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .address-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.address-list-link:hover, .address-list-link:focus {
  color: #2196F3;
}

.address-list-icon-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .address-list-icon-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list-icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.address-list-icon-smartphone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .address-list-icon-smartphone {
    height: 16px;
    margin-right: 10px;
  }
}

.hero-section {
  max-width: 100%;
  min-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #C4C4C4;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/heroimg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/heroimg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/heroimg-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/heroimg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/heroimg-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/heroimg-desktop@2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.advantages-section {
  padding-top: 60px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-top: 94px;
  }
}

.advantages-list {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
  }
}

.advantages-list-item {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list-item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list-item {
    width: 269px;
  }
}

.advantages-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .advantages-list-title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list-title {
    text-align: start;
  }
}

.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-list-item::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advantages-list-item:nth-child(1)::before {
  background-image: url(../img/advantages/antenna.svg);
}

.advantages-list-item:nth-child(2)::before {
  background-image: url(../img/advantages/clock.svg);
}

.advantages-list-item:nth-child(3)::before {
  background-image: url(../img/advantages/diagram.svg);
}

.advantages-list-item:nth-child(4)::before {
  background-image: url(../img/advantages/astronaut.svg);
}

@media screen and (max-width: 767px) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.jobs-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .jobs-section {
    display: block;
  }
  .jobs-list {
    display: flex;
  }
  .jobs-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .jobs-list-item {
    width: 370px;
    position: relative;
  }
  .jobs-list-overlay {
    display: flex;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .jobs-list-overlay-title {
    width: 205px;
    height: 16px;
    align-items: center;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
  }
}

.team-section {
  background: #F5F4FA;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.team-list {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
}

.team-list-item {
  width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  padding-right: 122px;
  padding-left: 122px;
}

@media screen and (min-width: 768px) {
  .team-list-content {
    padding-right: 74px;
    padding-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-content {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
  }
}

.team-list-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.clients-section {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients-list-item {
    margin: 15px;
  }
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients-list-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-link {
    width: 170px;
  }
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid #2196F3;
}

.clients-list-icon1 {
  width: 44px;
  height: 49px;
}

.clients-list-icon2 {
  width: 40px;
  height: 52px;
}

.clients-list-icon3 {
  width: 41px;
  height: 43px;
}

.clients-list-icon4 {
  width: 80px;
  height: 42px;
}

.clients-list-icon5 {
  width: 59px;
  height: 47px;
}

.clients-list-icon6 {
  width: 89px;
  height: 45px;
}

.logo {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .logo,
.clients-list-link:focus .logo {
  fill: #2196F3;
}

.footer-section {
  background: #2F303A;
  width: 100%;
  min-width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .contacts-footer-wrapper {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-footer-wrapper {
    align-items: flex-start;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .contacts-footer {
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.contacts-footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer-mail-link, .contacts-footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer-address-link, .contacts-footer-mail-link {
  margin-bottom: 9px;
}

.contacts-footer-address-link:hover, .contacts-footer-address-link:focus, .contacts-footer-mail-link:hover, .contacts-footer-mail-link:focus, .contacts-footer-tel-link:hover, .contacts-footer-tel-link:focus {
  color: #2196F3;
}

.social-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-footer-wrapper {
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.social-footer-wrapper .social-list {
  width: 206px;
}

.social-footer-title,
.contact-form-title {
  height: 16px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .contact-form-title {
    align-self: flex-start;
  }
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .contact-form-wrapper {
    margin-left: 93px;
  }
}

.contact-form {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-form {
    flex-direction: row;
    align-items: baseline;
  }
}

.contact-form-input {
  width: 358px;
  height: 50px;
  color: #FFFFFF;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.contact-form-button {
  padding-left: 29px;
  padding-right: 62px;
  position: relative;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .contact-form-button {
    margin-left: 12px;
  }
}

.contact-form-button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  right: 28px;
}
/*# sourceMappingURL=main.css.map */