//utils
@import "./utils/variables";

//base
@import "./base/common";
@import "./base/container";
@import "./base/visually-hidden";

//components
@import "./components/main-logo";
@import "./components/modal-button";
@import "./components/social-list";
@import "./components/title";
@import "./components/modal";

//layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/jobs";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";








