.clients-section {
    padding-top: 60px;
    background: $lighttitle-text-color;

    @media screen and (min-width:1200px) {
        padding-top: 94px;        
    }
}

.clients-list {
    @media screen and (max-width:1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;        
    }

    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: space-between;        
    }

    &-item {
        @media screen and (max-width:767px) {
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

        @media screen and (min-width:768px) and (max-width:1199px) {
            width: calc((100% - 3 * 30px) / 3);  
            margin: 15px;  
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 90px;
        border: 1px solid $icon-color;
        box-sizing: border-box;
        border-radius: 4px;
    
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        @media screen and (min-width:768px) {
            width: 226px;            
        }

        @media screen and (min-width:1200px) {
            width: 170px;            
        }    
    }

    &-link:hover,
    &-link:focus {
        border: 1px solid $accent-color;
    }

    &-icon1 {
        width: 44px;
        height: 49px;
    }
    
    &-icon2 {
        width: 40px;
        height: 52px;
    }
    
    &-icon3 {
        width: 41px;
        height: 43px;
    }
    
    &-icon4 {
        width: 80px;
        height: 42px;
    }
    
    &-icon5 {
        width: 59px;
        height: 47px;
    }
    
    &-icon6 {
        width: 89px;
        height: 45px;
    }
}





       
//     &-link {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 170px;
//         height: 90px;
//         border: 1px solid $icon-color;
//         box-sizing: border-box;
//         border-radius: 4px;
    
//         transition-property: border;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &-link:hover,
//     &-link:focus {
//         border: 1px solid $accent-color;
//     }

//     &-icon1 {
//         width: 44px;
//         height: 49px;
//     }
    
//     &-icon2 {
//         width: 40px;
//         height: 52px;
//     }
    
//     &-icon3 {
//         width: 41px;
//         height: 43px;
//     }
    
//     &-icon4 {
//         width: 80px;
//         height: 42px;
//     }
    
//     &-icon5 {
//         width: 59px;
//         height: 47px;
//     }
    
//     &-icon6 {
//         width: 89px;
//         height: 45px;
//     }
// }



.logo {
    fill: $icon-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .clients-list-link:hover &,
    .clients-list-link:focus & {
        fill: $accent-color;
    }
}

