.footer-section {
    background: $darksections-color;
    width: 100%;
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width:1200px){      
    max-width: 1600px;
    margin: 0 auto;
    }

    & .container {
        @media screen and (min-width:768px) and (max-width:1199px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: baseline;
        }

        @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        }
    }
}

.contacts-footer-wrapper {
    @media screen and (max-width:767px) {
        display: block;
        text-align: center; 
    }

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width:1200px) {
        align-items: flex-start;
    }
}

.contacts-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 60px;
    
    @media screen and (min-width:1200px) { 
        margin-top: 20px; 
        align-items: flex-start;
        margin-bottom: 0;
    } 
    
    &-address-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;    
        color: $lighttitle-text-color;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-mail-link,
    &-tel-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: $footer-text-color;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-address-link,
    &-mail-link {
        margin-bottom: 9px;
    }

    &-address-link:hover,
    &-address-link:focus,
    &-mail-link:hover,
    &-mail-link:focus,
    &-tel-link:hover,
    &-tel-link:focus {
        color: $accent-color;    
    }
}

.social-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px; 
        
    @media screen and (min-width:1200px) {

    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-bottom: 0;
    }
}

.social-footer-wrapper .social-list {
    width: 206px;      
}

.social-footer-title,
.contact-form-title {    
    height: 16px;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $lighttitle-text-color;
    margin-bottom: 20px; 
    align-self: center;
}
    
@media screen and (min-width:1200px) {
    .contact-form-title,
    .social-footer-title {
        align-self: flex-start;
    }
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    
    
    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.contact-form {
    text-align: center;    

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

    @media screen and (min-width:1200px){
        flex-direction: row;
        align-items: baseline;
        }
    }
    
    &-input {
        width: 358px;
        height: 50px;
        color: $lighttitle-text-color;
        background-color: $darksections-color;    
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
    }

    &-button {        
        padding-left: 29px;
        padding-right: 62px;
        position: relative;
        margin-top: 20px;

        @media screen and (min-width:1200px) {
            margin-left: 12px;
        }
    }

    &-button-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 13px;
        right: 28px;     
    }
}






