.jobs-section {
    padding-bottom: 94px;
}

.jobs-list {
    display: flex;

    &-item:not(:last-child) {
        margin-right: 30px;
    }

    &-item {
        width: 370px;
        position: relative;
    }

    &-overlay {
        display: flex;
        justify-content: center;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        position: absolute;
        bottom: 0;
        left: 0;
    
        &-title {
            width: 205px;
            height: 16px;
            align-items: center;    
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $lighttitle-text-color;
            padding-top: 27px; 
        }
    }
}


