.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms linear;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: $lighttitle-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: transparent;

    &-icon {
        position: absolute;
        top: 50%;
        right: 5.5px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        fill: $header-logo-color;
        cursor: pointer;

        &:hover,
        &:focus {
            fill: $accent-color;
            outline: none;   
        }
    }  

    &:focus {
        outline: none;
    }
}



.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px;

    &-title {
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-text-color;
        margin-bottom: 12px;
    }

    &-lable {     
        font-size: 12px;
        line-height: 1.167;
        letter-spacing: 0.01em;
        color: $primary-text-color;
        margin-bottom: 4px;
    }

    &-input-wrapper {
        display: block;
        position: relative;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    
    &-input {
        display: block;
        width: 100%;
        height: 40px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;    
        padding-left: 42px;
    }
    
    &-icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);

        .modal-form-input:focus + & {
            fill: $accent-color;
        }
    }

    &-message {
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        margin-bottom: 20px;
        outline: none;
        padding: 12px 16px;

        &::placeholder {
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);    
        }
    }

    &-input:focus,
    &-message:focus {
        border: 1px solid $accent-color;
        cursor: pointer;
    }
    
    &-button {
        align-self: center;
    }

    &-checkbox {
        position: absolute;
    }

    &-policy-link {
        color: $accent-color;
        margin-left: 5px;
    }

    &-policy-label {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $primary-text-color;  
        margin-bottom: 30px; 
        
        &::before {
            display: inline-block;
            content: "";
            width: 16px;
            height: 15px;
            border: 2px solid $title-text-color;
            border-radius: 2px;
            margin-right: 7px;  
        }
    } 
    
    &-checkbox:checked + &-policy-label::before {
        background-color: $accent-color;
        background-image: url(../img/modal-form/check.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 2px solid $accent-color;
    }

}



